.btn {
  width: 120px;
  height: 70px;
  cursor: pointer;
  background-color: $gold;
  color: $brick;
  letter-spacing: 0;
  margin: 10px 20px;

  &:hover {
    background-color: $brick;
    color: lighten($brick, 30%);
    letter-spacing: 3px;
    transform: scale(0.99);
    transition: all 1s ease-in-out;
  }
}

.btn-menu {
  @extend .btn;
  width: 75vw;
  height: 80px;
  cursor: pointer;
  margin: 20px auto;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.2rem;
}

.btn-topic {
  @extend .btn;
  width: 200px;
  height: 100px;
  cursor: pointer;
  margin: 20px;
  padding: 5px;
}
