@import "variables";

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 75px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $dkgreen; /* Set a background color */
  color: $gold; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 60px;
  height: 60px;
  padding: 5px;
  box-shadow: 3px 5px 5px $dkgreen;
  border-radius: 50%; /* Rounded corners */

  font-family: $techfont;
  font-size: 18px; /* Increase font size */

  &:hover {
    background-color: $mdgreen; /* light green while hovering the mouse */
    color: lighten($gold, 20%);
  }
}

#myHome {
  @extend #myBtn;
  display: block;
  bottom: 75px;
  left: 30px;
}
